.header {
    grid-area: h;
    background-color: tomato;
  }
  
  .header img {
    width: 50px;
 
  }

  .headerBlock {
    cursor: pointer;
    display: flex;
    float: right;
  }

  .headerButton {
    color: aliceblue;
    margin-right: 10px;
    margin-top: 10px;
  }