.nav {
    grid-area: n;
    background-color: aqua;
  }

  .item a {
    color: rgb(25, 29, 247);
    cursor: pointer;
    text-decoration: none;

  }

  .item a.activeLink {
    color: rgb(2, 2, 143)
  }