.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 15fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(224, 224, 224);
}
